<?xml version='1.0' encoding='utf-8'?>
<Context>

    <WatchedResource>WEB-INF/web.xml</WatchedResource>

    <!-- Configure TAP query DataSource
         The "global" is a data source defined in the app server (eg within server.xml for tomcat);
         this can be set to whatever named data source you want to use to execute TAP queries.

         The "name" is used within the QueryRunner to find this data source via JNDI Lookup and 
         must be "jdbc/tapuser".
    -->
    <ResourceLink name="jdbc/tapuser"
        global="jdbc/postgresql-tapuser"
        type="javax.sql.DataSource" />

    <!-- Configure TAP upload DataSource
         If you want to support TAP_UPLOAD, you need to supply a data source with permission to
         create tables and it must be named "jdbc/tapuploadadm" here. This is optional and only
         needed if you configure an UploadManager (the default is to not support upload).
    -->

    <!--
    <ResourceLink name="jdbc/tapuploadadm"
        global="jdbc/postgresql-tapuploadadm"
        type="javax.sql.DataSource" />
    -->

</Context>
